[Unit]
Description="Hello world Deamon"
After=network.target

[Service]
Type=simple
ExecStart=/root/.nvm/versions/node/v16.20.0/bin/node /home/ec2-user/helloworld.js

[Install]
WantedBy=default.target
